<html lang="en">
<head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');
	</style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="/static/styles/index.css">
	<meta name="view-transition" content="same-origin">
	<script src="/static/java/main.js"></script>
	<link rel="icon" href="/static/resources/favicon.png" type="image/png">
	<title>CDISC Mapping Exporter</title>
	<style>
		body{
			margin:0;
			top:0;
			left:0;
			width:100vw;
			height:100vh;
			overflow:hidden;
			display:flex;
			justify-content:center;
			align-items:center;
			opacity:1;
			font-family: "Hubot Sans",sans-serif;
		}
		h1{
			font-size:32px;
			line-height:32px;
		}
	</style>
</head>
<body>
	<div class="header">

	</div>
	<div id="statestation">
		<h1 class="nav" style="width: 140px;color: black; text-align: left;">CDISC</h1>
		<h1 class="nav" style="width: 10px;padding-left: 3%; color: black">|</h1>
		<span class="nav2" onclick="transitionToPage('/')" style="text-decoration: none;">imagEHR</span>
		<!--		<a class="nav2" href="/" style="text-decoration: none;">imgEHR</a>-->
	</div>

	<div id="d" style="text-align: center;">
		<h1 id="h">Generating CDISC mapping&nbsp;&nbsp;<img height="18" src="/static/resources/loading.webp"></h1>
	</div>

	<script>
		"use strict";

		(() => {
			const res = `{{ gen(fhir_api_base, patient_id) }}`;
			if (!res) {
				document.querySelector("#h").innerHTML = "CDISC mapping generation failed!";
				return;
			}
			document.querySelector("#h").innerHTML = "CDISC mapping generation successful.";

			const filename = "{{ patient_id }}-cdisc.txt";
			const div = document.querySelector("#d");
			const downloadButton = document.createElement("button");
			downloadButton.type = "button";
			downloadButton.classList.add("linkbut");
			downloadButton.textContent = "Download";
			downloadButton.style.height = "36px";
			downloadButton.addEventListener("click", () => {
				const blob = new Blob([res], { type: "text/plain" });
				const url = URL.createObjectURL(blob);
				const link = document.createElement("a");
				link.style.display = "none";
				link.href = url;
				link.download = filename;
				document.getElementById("d").appendChild(link);
				link.click();
				document.body.removeChild(link);
				URL.revokeObjectURL(url);
			});
			div.appendChild(downloadButton);
		})();
	</script>
</body>
</html>
