<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');
    </style>
    <meta charset="UTF-8">
    <title>imagEHR: Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/styles/index.css">
    <meta name="view-transition" content="same-origin">
<body>

<div class="header">
    <h1 class="nav">FAQ</h1>
    <h1 class="nav">Open Source</h1>
    <h1 class="nav">Team</h1>
    <div id="statestation">
        <a class="nav2" href="/" style="text-decoration: none;">imagEHR</a>
    </div>
</div>
<script src="/static/java/main.js"></script>
    <div id="innerbox">
        <div class="boxleft">
            <div class="maintextholder">
                <h1 class="openingtext" STYLE="font-size: 30px; margin-bottom: -30px;
                            font-weight: 300">AI-Driven Automation for Clinical</h1>
                <h1 class="openingtext">RESEARCH</h1>
<!--                <h1 class="openingtext" STYLE="font-size: 40px; margin-top: -50px;-->
<!--                            font-weight: 900;-->
<!--                            mix-blend-mode: difference">data harmonization</h1>-->
<!--                <h1 class="openingdes">we aid in advanced medical research</h1>-->
<!--                <a class="buttontogo" href="/set-fhir">get started</a>-->
                <span class="buttontogo" onclick="transitionToPage('/set-fhir')">Get started</span>
            </div>
        </div>
        <div class="boxright">
        </div>
    </div>
    <div class="infosection">
        <div class="descriptionholder">
            <h1 class="desctitle">The Problem</h1>
            <h1 class="desctext">Real-world clinical data from EHRs and medical
                images is unstructured and incompatible with regulatory
                standards like CDISC SDTM which makes clinical research and
                regulatory submission slow, manual, and error-prone.</h1>
        </div>
    </div>
    <div class="infosection2" style="height:400px;">
        <div class="descriptionholder2">
            <h1 class="desctitle" style="text-align: end;">Our Solution</h1>
            <h1 class="desctext" style="text-align: end; width: 40%">With the imagEHR platform,
                your FHIR patient data and scan images flow through our automated pipeline,
                allowing our intelligent LLM-powered systems to generate standardized EHR outputs.</h1>
        </div>
    </div>
    <div id="footer">
        <h1 class="bottomt" style="padding-top: 50px">This website has been created with love</h1>
        <h1 class="bottomt">🔥We are the coolest group🔥</h1>
        <div class="links">

        </div>
    </div>
</body>
