<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');
    </style>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles/index.css">
</html>
<body>
<div id="header">
    <h1 class="nav">Solutions</h1>
    <h1 class="nav">Research</h1>
    <h1 class="nav">Team</h1>
</div>
    <div id="innerbox">
        <div class="boxleft">
            <div class="maintextholder">
                <h1 class="openingtext">imgEHR</h1>
                <h1 class="openingdes">we aid in advanced medical research</h1>
                <a class="buttontogo">get started </a>
            </div>
        </div>
        <div class="boxright">
        </div>
    </div>
    <div class="infosection">
        <div class="descriptionholder">
            <h1 class="desctitle">The Problem</h1>
            <h1 class="desctext">Real-world clinical data from EHRs and medical images is unstructured, messy, and incompatible with regulatory standards like CDISC SDTM — which makes clinical research and regulatory submission slow, manual, and error-prone. </h1>
        </div>
    </div>
<!--    <div class="infosection2">-->
<!--    </div>-->
    <div id="footer">
        <h1 class="bottomt" style="padding-top: 50px">This website has been created with Love</h1>
        <h1 class="bottomt">We are the coolest group</h1>
    </div>
</body>