<html lang="en">
<head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');
	</style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="/static/styles/index.css">
	<meta name="view-transition" content="same-origin">
	<script src="/static/java/main.js"></script>
	<title>Patient {{ patient_id }}</title>
	<style>
		body {
			font-family: "Hubot Sans", sans-serif;
			opacity:1;
		}
	</style>
</head>
<body>
	<div class="header">

	</div>
	<div id="statestation">
		<h1 class="nav" style="width: 140px;color: black; text-align: left;">Patient</h1>
		<h1 class="nav" style="width: 10px;padding-left: 3%; color: black">|</h1>
		<span class="nav2" onclick="transitionToPage('/dashboard')" style="text-decoration: none;">imagEHR</span>
		<!--		<a class="nav2" href="/" style="text-decoration: none;">imgEHR</a>-->
	</div>

	<div id="patient_profile"></div>
	<script>
		"use strict";

		(() => {
			const b64 = "{{ b64encode(dumps(patient.as_json()).encode()).decode() }}";
			const data = JSON.parse(atob(b64));
			document.getElementById("patient_profile").innerHTML = `
				<h3>${data.name[0].given[0]} ${data.name[0].family}</h3>
				<p>Profile ID: ${data.id}</p>
				<p>${data.telecom ? "Phone: " + data.telecom[0].value : ""}</p>
				<p>${data.birthDate ? "Birthdate: " + data.birthDate : ""}</p>
			`;
		})();
	</script>
	<hr>
	<div>
		<h3>Patient Summary <img height="15" src="/static/resources/powered_by_ai.png"></h3>
		<p id="patient_summary">Generating in real-time&nbsp;<img height="8" src="/static/resources/loading.webp"></p>
	</div>
	<hr>
	<div>
		<h3>Chest X-Ray Upload</h3>
		<p>Upload images (.png, .jpg, .webp) of chest scans for automatic analysis. Existing images:</p>
		<ul>
			{% for file in files %}
				<li>{{ file.replace(prefix, "").replace(patient_id, "") }} (<a href="/trash/{{ file }}/{{ patient_id }}">delete</a>)</li>
			{% endfor %}
		</ul>
		<form action="/upload/to/{{ patient_id }}" method="POST" enctype="multipart/form-data">
			<input name="file" type="file" accept=".png, .jpg, .webp" value="Select image">
			<input type="submit" value="Upload" >
		</form>
	</div>
	<hr>
	<div>
		<h3>Create CDISC Terminology Mapping <img height="15" src="/static/resources/powered_by_ai.png"></h3>
		<p>Combine the patient's EHR data with chest x-ray images to create a CDISC output.</p>
		<button type="button" onclick="window.location.href = '/cdisc/{{ patient_id }}';">Start</button>
	</div>

	<!-- Take advantage of Flask's stream_template -->
	<script>
		"use strict";

		const summary = `{{ simple_chat("Please give a one paragraph summary of this patient based off of their EHR record: \n\n" + info) }}`;
		document.getElementById("patient_summary").innerHTML = summary ? summary : "Failed to generate";
	</script>
</body>
</html>
