<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Patient {{ patient_id }}</title>
</head>
<body>
	<div id="patient_profile"></div>
	<script>
		"use strict";

		(() => {
			const b64 = "{{ b64encode(dumps(patient.as_json()).encode()).decode() }}";
			const data = JSON.parse(atob(b64));
			document.getElementById("patient_profile").innerHTML = `
				<h3>${data.name[0].given[0]} ${data.name[0].family}</h3>
				<p>Profile ID: ${data.id}</p>
				<p>${data.telecom ? "Phone: " + data.telecom[0].value : ""}</p>
				<p>${data.birthDate ? "Birthdate: " + data.birthDate : ""}</p>
			`;
		})();
	</script>
	<hr>
	<div>
		<h3>Patient Summary <img height="15" src="/static/resources/powered_by_ai.png"></h3>
		<p id="patient_summary">Generating in real-time&nbsp;<img height="8" src="/static/resources/loading.webp"></p>
	</div>
	<hr>
	<div>
		<h3>Chest X-Ray Upload</h3>
		<p>Upload images (.png, .jpg, .webp, .dicom) of chest scans for automatic analysis. Existing images:</p>
		<ul>
			{% for file in files %}
				<li>{{ file.replace(prefix, "").replace(patient_id, "") }} (<a href="/trash/{{ file }}/{{ patient_id }}">delete</a>)</li>
			{% endfor %}
		</ul>
		<form action="/upload/to/{{ patient_id }}" method="POST" enctype="multipart/form-data">
			<input name="file" type="file" accept=".png, .jpg, .webp, .dicom" value="Select image">
			<input type="submit" value="Upload" >
		</form>
	</div>
	<hr>
	<div>
		<h3>Create CDISC Terminology Mapping <img height="15" src="/static/resources/powered_by_ai.png"></h3>
		<p>Combine the patient's EHR data with chest x-ray images to create a CDISC output.</p>
		<button type="button" onclick="window.location.href = '/cdisc/{{ patient_id }}';">Start</button>
	</div>

	<!-- Take advantage of Flask's stream_template -->
	<script>
		"use strict";

		const summary = `{{ simple_chat("Please give a one paragraph summary of this patient based off of their EHR record: \n\n" + info) }}`;
		document.getElementById("patient_summary").innerHTML = summary ? summary : "Failed to generate";
	</script>
</body>
</html>
