<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>View Patient {{ patient_id }}</title>
</head>
<body>
	<div id="patient_profile"></div>
	<script>
		"use strict";

		(() => {
			const b64 = "{{ b64encode(dumps(patient.as_json()).encode()).decode() }}";
			const data = JSON.parse(atob(b64));
			document.getElementById("patient_profile").innerHTML = `
				<h3>${data.name[0].given[0]} ${data.name[0].family}</h3>
				<p>Profile ID: ${data.id}</p>
				<p>${data.telecom ? "Phone: " + data.telecom[0].value : ""}</p>
				<p>${data.birthDate ? "Birthdate: " + data.birthDate : ""}</p>
			`;
		})();
	</script>
	<hr>
	<div>
		<h3>Patient Summary</h3>
		<p id="patient_summary">Generating in real-time...</p>
	</div>
	<hr>
	<p>Placeholder for upload boxes</p>

	<!-- Take advantage of Flask's stream_template -->
	<script>
		"use strict";

		const summary = `{{ simple_chat("Please give a one paragraph summary of this patient based off of their EHR record: \n\n" + info) }}`;
		document.getElementById("patient_summary").innerHTML = summary ? summary : "Failed to generate";
	</script>
</body>
</html>
