<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>View Patients</title>
	<style>
		.patient{
			border: 1px solid #ccc;
			border-radius: 12px;
			padding: 16px;
			box-sizing: border-box;
			cursor: pointer;
			margin-bottom: 8px;
		}
	</style>
</head>
<body>
	<h1>All Patients</h1>
	<div style="display:flex;align-items:center;gap:12px;">
		<p id="status">Fetched 0 patient records from {{ fhir }}</p>
		<img id="loading" height="14" src="/static/resources/loading.webp">
	</div>
	<hr>
	<script>
		var counter = 0;
		const increment = () => {
			document.getElementById("status").innerHTML = `Fetched ${++counter} patient records from {{ fhir }}`;
		};
	</script>
	{% for id in ids %}
	<div id="patient-{{ id }}" class="patient" onclick="window.location.href = '/patient/{{ id }}';"></div>
	<script>
		"use strict";

		try {
			const b64 = "{{ b64encode(dumps(gp(api_base, id).as_json()).encode()).decode() }}";
			const data = JSON.parse(atob(b64));
			document.getElementById("patient-{{ id }}").innerHTML = `
				<h3>${data.name[0].given[0]} ${data.name[0].family}</h3>
				<p>Profile ID: ${data.id}</p>
				<p>${data.telecom ? "Phone: " + data.telecom[0].value : ""}</p>
				<p>${data.birthDate ? "Birthdate: " + data.birthDate : ""}</p>
			`;
			increment();
		} catch (e) {
			console.warn(e);
		}
	</script>
	{% endfor %}
	<script>
		document.getElementById("loading").style.display = "none";
	</script>
</body>
</html>
