<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');
    </style>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/styles/index.css">
</html>
<body>
<div class="header">
    <h1 class="nav">FAQ</h1>
    <h1 class="nav">OpenSource</h1>
    <h1 class="nav">Team</h1>
    <a class="nav2" href="/" style="text-decoration: none;">imgEHR</a>
</div>
<script src="/static/java/main.js"></script>
<div class="dropbos">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" class="inputfile" accept=".csv, .xlsx">
        <label for="file">Choose a file</label>
        <input type="submit" value="Upload" class="submit">
    </form>
</div>
</body>