.header{
    transition-duration: 0.5s;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 97%;
    height: 50px;
    top: 20px;
    background-color: rgba(113, 113, 113, 0);
    position: fixed;
    border-radius: 10px;
    z-index: 1000;
}
.header.white{
    transition-duration: 0.5s;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 98.5%;
    height: 50px;
    top: 20px;
    background-color: rgb(255 255 255 / 0%);
    box-shadow: 0px 0px 165px 6px;
    position: fixed;
    border-radius: 10px;
    backdrop-filter: blur(11px);
    z-index: 1000;
}

body{
    opacity: 0;
    transition: opacity .5s;
    /*background-color: white;*/
    background-image: url("/static/resources/back.jpg");
}
#footer{
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    height: 300px;
    bottom: 3%;
    background-color: rgba(9, 3, 3, 0.72);
    border-radius: 10px;
    box-shadow: 0px 0px 66px -40px;
    backdrop-filter: invert(80%);
}
.infosection{
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    height: 400px;
    bottom: 3%;

    z-index: 10;
    /*background-image: url("/static/resources/back3.jpg");*/
    /*background-color: #0077b5;*/
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 66px -40px;
    backdrop-filter: blur(10px);
    justify-content: center;
    border: 1px solid #404040;
}
.infosection2{
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 96%;
    height: 400px;

    background-color: rgba(0, 119, 181, 0);
    border-radius: 10px;
    justify-content: center;
}
.nav{
    margin: 0;
    font-size: 20px;
    padding-right: 2%;
    align-items: center;
    text-align: center;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 300;
    color: #000000;
}
.nav:hover{
    color: rgba(0, 0, 0, 0.38);
    cursor: pointer;
}
.nav2{
    font-size: 20px;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 800;
    color: #000000;
}
.nav2:hover{
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
#innerbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
}
#innerbox2{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    align-items: center;
    justify-content: center;
}
.boxleft{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0);

}
.boxright{
    width: 50%;
    height: 100%;
    background-color: rgba(129, 53, 53, 0);
}
.maintextholder{
    height: fit-content;
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%);
}
.openingtext {
    margin: 0;
    font-size: 90px;
    font-family: "Hubot Sans", sans-serif;
    font-weight: bold;
    color: #000000;
}
.openingdes {
    margin: 0;
    font-size: 30px;
    padding-bottom: 2%;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 300;
    color: #000000;
}

.buttontogo{
    display: grid;
    width: 150px;
    height: 50px;
    border-radius: 16px;
    align-items: center;
    text-align: center;
    margin: 0;
    margin-top: -5px;
    text-decoration: none;
    background-color: black;
    border-width: 10px;
    font-size: 20px;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
}
.buttontogo:hover{
    background-color: rgb(181, 103, 0);
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.bottomt{
    margin: 0;
    font-size: 15px;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 300;
    color: #ffffff;
}
.descriptionholder{
    height: fit-content;
    position: absolute;
    left: 10%;
}
.descriptionholder2{
    height: fit-content;
    position: absolute;
    left: 35%;
    transform: translate(-84%, 27%);
    justify-items: end;
}
.desctitle{
    margin: 0;
    width: 69%;
    font-size: 40px;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 600;
    color: #000000d6;
}
.desctext{
    margin: 0;
    width: 90%;
    font-size: 20px;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 500;
    color: #000000;
}
#leftupload{
    display: flex;
    flex-direction: column;
    width: 43%;
    height: 90vh;
    background-color: rgba(38, 241, 133, 0);
    justify-content: center;
    align-items: flex-end;
}
#rightupload{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 57%;
    height: 90vh;
    background-color: rgba(177, 21, 21, 0);
    justify-content: center;
}
.biguploadtext {
    margin: 0;
    font-size: 40px;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 700;
    color: #000000;
}
.boxupload  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 65px;
    /*background-color: rgb(14, 14, 14);*/
    border-radius: 15px;
    box-shadow: 0px 0px 364px 33px #00000054;
    backdrop-filter: blur(10px);
}
.maintextholder2{
    height: fit-content;
    margin-right: 24px;
}
.maintextholder3{
    height: 220px;
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.maintextholder4{
    height: 22px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#statestation{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0;
    position: fixed;
    left: 3%;
    top: 30px;
    z-index: 1000;
    align-items: center;
}
.uploadtext{
    text-align: center;
    margin: 0;
    width: 100%;
    font-size: 35px;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 800;
    color: #000000;
}
.patientext{
    text-align: left;
    margin: 0;
    width: 100%;
    font-size: 35px;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 800;
    color: #000000;
}
.linkdrop{
    margin:10px;
    transition: width 0.4s ease-in-out;
    font-family: "Hubot Sans", sans-serif;
    border: 1px solid #d5d5d5;
    font-weight: 100;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    width: 60%;
}
.linkbut{
    transition: color 0.4s ease-in-out;
    font-family: "Hubot Sans", sans-serif;
    background-color: rgb(255, 215, 0);
    color: black;
    border: none;
    font-weight: 700;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    width: 10vw;
}
.linkbut:hover{
    transition: background-color 0.4s ease-in-out;
    background-color: rgba(28, 28, 28, 0.82);
    color: rgb(255, 215, 0);
    border: none;
    cursor: pointer;
}
.linkbut2{
    transition: color 0.4s ease-in-out;
    font-family: "Hubot Sans", sans-serif;
    background-color: rgb(214, 214, 214);
    color: black;
    border: none;
    font-weight: 700;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    width: 10vw;
}
.linkbut2:hover{
    transition: background-color 0.4s ease-in-out;
    background-color: rgba(28, 28, 28, 0.82);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
.linkbut3{
    transition: color 0.4s ease-in-out;
    font-family: "Hubot Sans", sans-serif;
    background-color: rgb(255, 215, 0);
    color: black;
    border: none;
    font-size: xx-large;
    font-weight: 700;
    height: 100;
    border-radius: 10px;
    text-align: center;
    width: 50%;
}
.linkbut3:hover{
    transition: background-color 0.4s ease-in-out;
    background-color: rgba(28, 28, 28, 0.82);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
.linkdrop[type=text]:focus {
    border: 1px solid #555;
    transition: width 0.4s ease-in-out;
    width: 70%;
}
.greeting{
    width: 95%;
    margin: 0;
    font-size: 55px;
    font-family: "Hubot Sans", sans-serif;
    font-weight: lighter;
    color: #000000;

}
#dash{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
     /*background-color: rgb(14, 14, 14);*/
    border-radius: 15px;
    box-shadow: 0px 0px 364px 33px #00000054;
    backdrop-filter: blur(10px);
}
#dash2{
    border-radius: 8px;
    margin-top: 1vw;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    box-shadow: 0px 0px 364px 33px #00000054;
    backdrop-filter: blur(10px);
}
#dash3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96%;
    height: 20%;
    /*background-color: rgb(14, 14, 14);*/
    border-radius: 15px;
    box-shadow: 0px 0px 364px 33px #00000054;
    backdrop-filter: blur(10px);
}